<div class="container">
  <div class="help-container">
    <div class="overview">
      <h1 class="help-title">〜ポモドーロおかん〜</h1>
      <div class="wrapper">
        <h3 class="caution">当アプリではアラーム等の効果音が鳴ります、音量にはご注意ください！<br>※タイマー内の音声ボタンでオンオフの切替が可能です</h3>
        <h3 class="help-body">仕事や勉強など、集中したい時に生産性やモチベーションを高める「ポモドーロ法」を利用したタイマーアプリです！<br>一時停止は不可となっています、どうしても離席したい場合は覚悟してボタンを押してください！<br><br>※ポモドーロ法とは<br>比較的短い時間で作業と休憩のセッションを繰り返し、短時間で作業を集中して行うテクニックの事</h3>
      </div>
    </div>

    <div class="usage">
      <h1 class="help-title">〜使い方〜</h1>
      <div class="wrapper">
        <h2 class="help-item">ポモドーロタイマー</h2>
        <h3 class="help-body">ホーム画面でタイマーが利用できます<br>ユーザー登録後、事前に登録したポモドーロをここで選択し、使用する事ができます<br>デフォルトの「離席する」ボタンは事前に登録する離席理由テンプレートによってカスタマイズが可能です<br></h3>

        <h2 class="help-item">ポモドーロ設定</h2>
        <h3 class="help-body">ログイン後「ポモドーロ一覧」リンク先のポモドーロ登録からポモドーロタイマーの設定ができます</h3>

        <h2 class="help-item">離席理由と離席理由テンプレート</h2>
        <h3 class="help-body">ログイン後「離席理由一覧」リンク先の離席理由登録からタイマーに設置する離席理由を作成できます<br>1つ以上5つ以下の離席理由を組み合わせて離席理由テンプレートを作成する事ができます<br>テンプレートを使用する際はホームのタイマー画面でタイマーを選択した後に<br>「離席理由テンプレートを選択ボタン」より選択してください</h3>

        <h2 class="help-item" id ="foot-item">ユーザーの<%= link_to '新規登録', new_user_path %>をしてポモドーロおかんをはじめてみましょう！</h2>
      </div>
    </div>
  </div>
</div>